:root {
  --accent: #ed6d05;
  --text: #000;
  --muted: #fdde8a; 
  --line: #451603;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
  color:var(--text);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fffbf0;
}

.body-container {
  padding: 0 50px;
}

.header {
  padding: 16px 0;
  border-bottom: 4px solid var(--line);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.header-inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  align-content: center;
}

.location {
  text-align: center;
  font-size: 13px;
  color: var(--text);
}

.container {
 max-width: 1240px;
 margin: auto;
 
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 28px 0 28px;
  align-items: end;
}

.hero-left {
  align-items: center;
  padding: 28px 0 28px;
  align-items: end;
}

.hero-left h1 {
  color:var(--text);
  font-size: 3rem;
  margin: 0;
}

.hero-left h2 {
  color:var(--accent);
  
}

.hero p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  color: var(--text);
}

.btn {
  color:#fffbf0;
  background: var(--accent);
  border: none;
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 28px 0 75px;
}

.card {
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.card h3 {
  padding: 18px 0 18px;
  border-bottom: 4px solid var(--line);
}

.card p {
  margin: 0;
  opacity: 0.6;
}

.card:hover {
  transform: scale(1.03);
}

.galeria {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 0;
}

/* BIO */
.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 32px 0;
  border-top: 4px solid var(--line);
  border-bottom: 4px solid var(--line);
}

.bio p {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  color: var(--text);
}

.bio strong {
  color: var(--accent);
}

/* FOOTER */
.footer {
  padding: 32px 0;
}

.footer-inner {
  text-align: center;
}

.back-btn {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  color: var(--accent);
  font-size: 14px;
}


/* ----------------------------- TABLET -----------------------------*/

@media (max-width: 1024px) {

  .body-container {
    padding: 0 15px;
  }
  .bio {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 18px 0px;
  }

    .hero h2 {
    margin: 0;
    padding: 0 0 18px;
  }

}

/* ----------------------------- MOBILE ----------------------------- */
@media (max-width: 640px) {

 .location {
    display: none;
  }

.hero-left {
  text-align: center;
  align-items: center;
  padding: 28px 0 28px;
  align-items: end;
}
  
  .header-inner {
    display: flex;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: auto;
    justify-content: space-between;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .avatar {
    margin: 0 auto;
  }

  .hero p {
    text-align: left;
}

  .hero h1 {
    font-size: 32px;
    text-align: left;
  }

  .hero h2 {
    font-size: 18px;
  }

  .works {
    grid-template-columns: 1fr;
  }
  

}
